<!doctype html>
<html>

<head>
  <title>Palmarès</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/stylesheet.css" />
</head>

<body>
  <h1 class="table_header">Palmarès</h1>
  <div id="board">
    <div class="rowlist">
      <div class="labellist">S</div>




      <!-- End of hidden-->
      <!-- </template> -->

      <!-- Troisieme element-->
      <div class="dropdown">
        <div class="card" id="card2">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->

            <!--  #Flag gouv? 
            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">
            -->

            <div>
              👌🏼
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            RSA
          </div>

          <!-- Logo -->
          <!-- Padding test-->

          <div>
            <img src="\assets\img\logos\caf.png" title="CNAF" alt="CNAF" width="60" height="50"
              style="margin-top: 10px">
          </div>

          <!-- Gains -->
          <div>
            607.75€/mois
          </div>



        </div>

        <div class=" dropdown-content">
          <p>La méta, la crème de la crème. Voir conditions pour en bénéficier. </p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard2" onclick="faitCheck4(2)"> </p>

          <p id="text2" style="display:none">FAIT!</p>
          <a
            href="https://www.caf.fr/allocataires/aides-et-demarches/droits-et-prestations/vie-professionnelle/le-revenu-de-solidarite-active-rsa">Lien
            super chouette</a>
        </div>
      </div>

      <!-- Quatrieme element-->
      <div class="dropdown">
        <div class="card" id="card3">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              <!-- ⏲️ -->
            </div>

            <div title="Risque élevé" alt="Risque élevé">
              💣
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Derivatives
          </div>

          <!-- Logo -->
          <div>
            <img src="\assets\img\logos\bybit.jpg" title="Bybit" alt="Bybit" width="70" height="60">
          </div>

          <!-- Gains -->
          <div>
            ∞
          </div>



        </div>

        <div class="dropdown-content">
          <p>Ah, le trading de dérivés, de la magie noire. C'est un peu comme le casino, mais en pas pareil. Ne jamais
            trader plus que ce qu'on
            peut perdre (voir le considérer déjà perdu). A noter que même avec levier, on ne peut pas perdre plus que
            la
            somme engagée sur la plupart des plateformes de trading crypto.
            Les gains possibles sont affolants, et leur perte pour liquidation juste après ? Une délicieuse saveur
            aigre-douce, testé et approuvé par votre serviteur.
          </p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard3" onclick="faitCheck4(3)"> </p>

          <p id="text3" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

    </div>
    <div class="rowlist">
      <div class="labellist">A</div>

      <div class="dropdown">
        <div class="card" id="card13">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">



            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Moon Farm
          </div>

          <!-- Logo -->
          <div>
            <a href=”//https://www.reddit.com/“>
              <img src="\assets\img\logos\moon.png" title="Moon" alt="Moon" width="70" height="60">
            </a>
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard13" onclick="faitCheck4(13)"> </p>

          <p id="text13" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

      <!-- <template> -->

      <div class="dropdown">
        <div class="card" id="card0">
          <!--
                <div>
                  Fait: <input type="checkbox" id="myCheck" onclick="faitCheck()">
        
                  <p id="text" style="display:none">Fait!</p>
                </div>
                -->

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
                  <div class="flagbox">
                  </div>
                  -->


            <img src="\assets\img\countryflags\cropuk.png" title="En anglais" alt="En anglais" width="22" height="16">


            <div title="Temps limité" alt="Temps limité">
              <!-- ⏲️ !-->
            </div>

            <div title="Faible risque" alt="Faible risque">
              👌🏼
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Respondent
          </div>

          <!-- Logo -->
          <div>
            <a href=”//https://www.respondent.com/“>
              <img src="\assets\img\logos\respondent_logo.png" title="Respondent" alt="Respondent" width="70"
                height="60">
            </a>
          </div>

          <div>
            100€/h
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard0" onclick="faitCheck3()">
          </p>

          <p id="text0" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

      <!-- Second element-->
      <div class="dropdown">
        <div class="card" id="card1">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
                   <div class="flagbox">
                   </div>
                   -->


            <img src="\assets\img\countryflags\cropuk.png" title="En anglais" alt="En anglais" width="22" height="16">
            <!-- <img src="\assets\img\Picto\risk.gif" alt="Risque élevé" width="22" height="16"> -->



            <div>
              ⏲️
            </div>

            <div title="Risque élevé" alt="Risque élevé">
              💣
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            PMU
          </div>

          <!-- Logo -->
          <div>
            <img src="\assets\img\logos\Logo_PMU.png" title="PMU" alt="PMU" width="70" height="60">
          </div>


          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard1" onclick="faitCheck4(1)"> </p>

          <p id="text1" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="card" id="card4">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Parions Sport
          </div>

          <div>
            <a href=”//https://www.parionssport.com/“>
              <img src="\assets\img\logos\parions2.png" title="Parions sport" alt="Parions sport" width="70"
                height="60">
            </a>
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard4" onclick="faitCheck4(4)"> </p>

          <p id="text4" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>



      <!-- Troisieme element-->
      <div class="dropdown">
        <div class="card" id="card6">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
       <div class="flagbox">
       </div>
       -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Prolific
          </div>

          <!-- Logo -->
          <div>
            <img src="\assets\img\logos\prol.png" title="Prolific" alt="Prolific" width="70" height="60">
          </div>

          <!-- Gains -->
          <div>
            ~200€/mois
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard6" onclick="faitCheck4(6)"> </p>

          <p id="text6" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

      <!-- Quatrieme element-->
      <div class="dropdown">
        <div class="card" id="card9">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Trucs Data
          </div>

          <div>
            <a href=”//https://www.parionssport.com/“>
              <img src="\assets\img\logos\telus2.png" title="Telus" alt="Telus" width="70" height="60">
            </a>
          </div>

          <!-- Gains -->
          <div>
            800-1k/mois
          </div>



        </div>

        <div class="dropdown-content">
          <p>Les boîtes comme TELUS (anciennement lionbridge), Peroptyx, Appen, Centific etc. Proposent des jobs
            relativement bien payés et à distance. Il faut passer un test, parfois exclusivement en anglais. Il faut
            suivres les consignes un maximum sous peine d'être suspendu.
            J'ai testé sous mon statut Auto-entrepreneur micro.


          </p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard9" onclick="faitCheck4(9)"> </p>

          <p id="text9" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

    </div>



    <div class="rowlist">
      <div class="labellist">B</div>
      <div class="dropdown">
        <div class="card" id="card10">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            MBA
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard10" onclick="faitCheck4(10)"> </p>

          <p id="text10" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="card" id="card7">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            RedBubble
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard7" onclick="faitCheck4(7)"> </p>

          <p id="text7" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="card" id="card8">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Reviews
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard8" onclick="faitCheck4(8)"> </p>

          <p id="text8" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="card" id="card17">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Happy Scribe
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard17" onclick="faitCheck4(17)"> </p>

          <p id="text17" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

    </div>
    <div class="rowlist">
      <div class="labellist">C</div>


      <div class="dropdown">
        <div class="card" id="card11">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Freecash
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard11" onclick="faitCheck4(11)"> </p>

          <p id="text11" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

    </div>
    <div class="rowlist">
      <div class="labellist">D</div>
      <div class="dropdown">
        <div class="card" id="card12">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Banques
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard12" onclick="faitCheck4(12)"> </p>

          <p id="text12" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>



    </div>
    <div class="rowlist">
      <div class="labellist">E</div>
      <div class="dropdown">
        <div class="card" id="card14">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Usertesting
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard14" onclick="faitCheck4(14)"> </p>

          <p id="text14" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="card" id="card15">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Winamax
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard15" onclick="faitCheck4(15)"> </p>

          <p id="text15" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

      <!-- Second element-->
      <div class="dropdown">
        <div class="card" id="card5">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
             <div class="flagbox">
             </div>
             -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Zebet
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard5" onclick="faitCheck4(5)"> </p>

          <p id="text5" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

    </div>
    <div class="rowlist">
      <div class="labellist">F</div>
      <div class="dropdown">
        <div class="card" id="card16">

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Coinbase
          </div>

          <!-- Gains -->
          <div>
            100€
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard16" onclick="faitCheck4(16)"> </p>

          <p id="text16" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>



      <div class="dropdown">
        <div class="card" id="card18">
          <!--
         <div>
           Fait: <input type="checkbox" id="myCheck" onclick="faitCheck()">

           <p id="text" style="display:none">Fait!</p>
         </div>
         -->

          <!--Flags-->

          <!-- Temps limité-->
          <!-- En Anglais-->
          <div class="activityflags">

            <!--
           <div class="flagbox">
           </div>
           -->


            <img src="\assets\img\countryflags\cropuk.png" alt="En anglais" width="22" height="16">


            <div>
              ⏲️
            </div>

          </div>

          <!-- Lien, nom-->
          <div style="border-bottom: 0.25px solid #aaa">
            Mturk
          </div>

          <!-- Gains -->
          <div>
            100€/h
          </div>



        </div>

        <div class="dropdown-content">
          <p>Une description super chouette</p>
          <p>Déjà fait ? <input type="checkbox" id="checkCard18" onclick="faitCheck4(18)"> </p>

          <p id="text18" style="display:none">FAIT!</p>
          <a href="#">Lien super chouette</a>
        </div>
      </div>

    </div>
  </div>

  <script src="../assets/js/rowlists/rowlists.js"></script>
</body>


</html>